/* RESETEO PREMADE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.fontSize {
    font-size: 2rem;
}

.mt-6 {
    margin-top: 8rem !important;
}

/* ////////////////   HTML Nav  ///////////////////*/

.navegador {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(to right top, #b2cce0, #c5d3e4, #d6dbe8, #e3e4eb, #eeeeee);
    border-bottom: 1.5px solid rgb(231, 231, 231);
    box-shadow: 0px 7px 15px -9px rgba(0, 0, 0, 0.41);
}

.navegador__imagen {
    width: 10vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 0 10px;

}

.navegador__botonera__listado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.navegador__botonera__listado__link {
    margin-right: 10px;

}

.navegador__botonera__listado__link__ancla {
    color: rgb(0, 24, 75);
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bolder;
}

.navegador__botonera__listado__link__ancla:hover {
    color: black;
    background-color: rgb(129, 156, 245);

}

/*Nav Bar BOOTSTRAP*/

.navbar-brand {

    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

/* /////////// HTML Footer //////////// */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 13vh;
    padding: 15px 0 15px 0;
    border-top: 4px solid rgba(0, 60, 255, 0.945);
    color: white;
    background-color: rgb(43, 43, 43);
    font-family: Tahoma, sans-serif;
}

.footer__div__ul__li {

    line-height: 20px;
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
}

.footerMargin {
    margin-left: 45px;
}

.footerMarginIcons {
    margin-left: 85px;
}

.footer__div__ul__li__resaltado {

    line-height: 20px;
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
    font-weight: bolder;
}

.flexSocial {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;

}

.iconSize {
    font-size: 2rem;
    padding-top: 40px;
    margin-right: 15px;
}

/* ///////////////////// HTML INDEX  ///////////////////*/

.mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.mainIndex__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 740px;
    margin-top: 120px;
    text-align: center;
    background-image: linear-gradient(#00000000, #0000002d, #000000a9), url(../asset/images/backgroud-main-section-4.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main__section__h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    color: white;
    padding-top: 300px;
    font-weight: lighter;
}

.main__section__h2 {
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

span {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
}

.main__section__p {
    text-align: center;
    height: 300px;
    width: 750px;
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 30px;
}


/* BEM SEGUNDA SECTION */

.indexSection {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.indexSectionParrafo {
    width: 750px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 2rem;
    padding: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.main__section__dos__image {
    display: flex;
    flex-direction: column;
    width: 100%;


}

/* ///////////////////// HTML Galeria ///////////// */

.sectionGaleria {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    width: 100%;
    height: 35vh;
    background-image: linear-gradient(#0000000c, #00000062, #000000a9), url(../asset/images/GaleriaImagen.png);
}

.sectionGaleriaOrden {
    display: flex;
    flex-direction: column;
    color: white;
}

.logoGrande {
    margin-top: 150px;
    width: 350px;
    height: auto;
}

.flexGaleria {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #040f21, #0b2751, #4c5a81, #9ea0c0, #ffffff);
    background-size: cover;
}

.mainGaleria {
    width: 1300px;
    height: auto;
    margin: 50px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 2rem;

}

.cardGaleria1 {
    grid-column: 1/3;
}



.cardGaleria3 {
    grid-column: 4/5;
    grid-row: 1/3;

}



.cardGaleria5 {
    grid-column: 2/4;
}



.cardGaleria7 {
    grid-column: 1/3;
}

.cardGaleria8 {
    grid-column: 3/4;
}

.cardGaleria9 {
    grid-column: 4/5;

}

.cardGaleria10 {
    grid-row: 3;
    grid-column: 3/4;
}

.cardGaleria11 {
    grid-row: 3;
    grid-column: 2/3;
}

.cardGaleria12 {
    grid-row: 3;
    grid-column: 1/2;
}

.imagen {
    border: 1px solid rgba(94, 94, 94, 0.301);
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 4px 3px 10px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 3px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 10px -2px rgba(0, 0, 0, 0.75);
}

/* ///////////////////// HTML Productos ///////////// */

/* Section uno */

.sectionuno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(#0000001f, #00000062, #000000a9), url(../asset/images/4.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    object-fit: cover;
    background-position-y: 90px;

}


.textoProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 400px;

}

.sectionuno__h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    color: white;
    font-weight: lighter;
}

.sectionuno__h2 {
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 25px;
}

.sectionuno__p {
    display: flex;
    text-align: center;
    height: 700px;
    width: 750px;
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 30px;
    line-height: 25px;
}


/* Section dos */

.sectiondos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    background-image: linear-gradient(rgb(197, 197, 197), rgb(245, 245, 245));

}

.sectionDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 50px;
}

.sectiondos__card {
    width: 30%;
    height: 650px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.sectiondos__carddos {
    width: 30%;
    height: 650px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.sectiondos__cardtres {
    width: 30%;
    height: 650px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.sectiondos__card__div__h2 {
    background-color: rgb(255, 255, 255);
    font-size: 2.5rem;
    padding-top: 15px;
    color: rgb(0, 0, 0);
}

.sectiondos__card__div__p {
    font-size: 1.5rem;
    color: black;
    font-family: sans-serif;
    padding-top: 30px;
    line-height: 24px;
}

.sectiondos__card__div__ul {
    margin-top: 25px;
    padding-left: 45px;
    text-align: start;
    font-weight: bold;
}

.sectiondos__card__div__ul__li {
    font-size: 2rem;
}

.imgProductos {
    width: 100%;
    height: 250px;
    background-image: url(../asset/images/imagen-productos-dos.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.imgProductos2 {
    width: 100%;
    height: 250px;
    background-image: url(../asset/images/imagen-productos-uno.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.imgProductos3 {
    width: 100%;
    height: 250px;
    background-image: url(../asset/images/imagen-productos-tres.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}


/* ////////////////////     HTML nosotros   ///////////////// */

.section__nosotros__uno {
    display: inline-block;
    width: 100%;
    height: 50vh;
    margin-top: 80px;
    text-align: center;
    background-image: linear-gradient(#0000001f, #00000062, #000000a9), url(../asset/images/Nosotros.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position-y: 60px;
}

.section__nosotros__uno__h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6rem;
    color: rgb(255, 255, 255);
    padding-top: 160px;
    font-weight: lighter;
}

.section__nosotros__uno__h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}

/* Section dos */

.section__nosotros__dos {
    display: inline-block;
    width: 100%;
    height: 950px;
    padding-top: 50px;
    padding-left: 250px;
    background-image: linear-gradient(rgb(197, 197, 197), rgb(245, 245, 245));

}


.section__nosotros__dos__card {
    position: absolute;
    width: 600px;
    height: 650px;
    margin-left: 100px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.section__nosotros__dos__carddos {
    position: absolute;
    width: 600px;
    height: 650px;
    margin-left: 130px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 750px;
}

.section__nosotros__dos__card__div__h2 {
    background-color: rgb(255, 255, 255);
    font-size: 2.5rem;
    padding-top: 15px;
    color: rgb(0, 0, 0);
}

.section__nosotros__dos__card__div__h3 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding-top: 0px
}


.section__nosotros__dos__card__div__p {
    font-size: 1.5rem;
    color: black;
    font-family: sans-serif;
    padding-top: 30px;
    line-height: 24px;

}

.section__nosotros__dos__card__div__ul {
    margin-top: 25px;
    padding-left: 45px;
    text-align: start;
    font-weight: bold;

}

.section__nosotros__dos__card__div__ul__li {
    font-size: 2rem;
}

.imgNosotros {
    width: 100%;
    height: 250px;
    background-image: url(../asset/images/Perfil\ -\ Legarra\ Juan\ Cruz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imgNosotros2 {
    width: 100%;
    height: 250px;
    background-image: url(../asset/images/Perfil\ -\ Hernan\ Pablo\ Patane.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ////////////////////     HTML Contacto Usando Flex -(apagado sin usar)  ///////////////// */
/*
.contenedorFormulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contenedorInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    background-image: linear-gradient(#00000000, #00000002, #0000000c);
}

.section__contacto__dos {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
}

.contenedorInfoAjuste {
    width: 300px;
    height: 250px;
    text-align: center;
}

.informacionForm {
    width: 550px;
    height: auto;
    margin-left: 130px;
    font-size: 1rem;
}

.inputNombre {
    margin-bottom: 15px;
    margin-left: 25px;
    width: 200px;
    height: 25px;
    font-size: 1.5rem;
}

.inputEmail {
    margin-bottom: 15px;
    margin-left: 44px;
    width: 200px;
    height: 25px;
    font-size: 1.5rem;
}

.inputConsulta {
    margin-bottom: 15px;
    margin-left: 38px;
    width: 200px;
    height: 25px;
    font-size: 1.5rem;
}

.labelFormulario {
    font-size: 2rem;
    font-weight: lighter;
}

.divConsentimiento {
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 35px;
}

.botonEnviar {
    font-size: 2rem;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

.listaOrdenadaFormulario {
    list-style: none;
}

.areaformulario {
    font-size: 4rem;
    font-weight: lighter;
}

.separadorLi {
    width: 450px;
}

.ubicacionMapa {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.ubicacionMapaDiv {
    width: 602px;
    height: 452px;
    border: 1px solid rgb(114, 114, 114);
    margin: 50px 0 50px 0;
}
*/

.h1Contacto {
    width: 100%;
    height: 40px;
    font-size: 2rem;
    text-align: start;
    padding-top: 20px;
    padding-left: 10px;
}
.pContacto {
    font-size: 1rem;
    text-align: start;
    padding-left: 15px;
}
.h2Contacto {

    font-size: 2.5rem;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 1.2rem;
}
.pContacto {
    width: 250px;
    font-size: 2.5rem;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 1.2rem;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;    
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 0.3em;
    height: 0.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .imagenContacto {
    width: 100%;
    height: 250px;
    background-image: url(../asset/images/Gatos\ contacto.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position-y: 90px;
    object-fit: cover;
}

/* DEFORMAME EL GATO AHORAA!!!!!!*/

  @media screen and (max-width: 667px) {
    .imagenContacto {
        width: 100%;
        height: 250px;
        background-image: url(../asset/images/Gatos\ contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
               
        
    }
   
      
    }