
main {
    div {
        div {
            div {
                .mainIndex__section {
                    width: 100%;
                    height: 740px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;
                    text-align: center;
                    background-image: linear-gradient(#00000000, #0000002d, #000000a9), url(../asset/images/backgroud-main-section-4.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    .main__section__h1 {
                        font-family: $fuente;
                        font-size: 2.2rem;
                        color: $blanco;
                        padding-top: 280px;
                        font-weight: lighter;
                    }

                    .main__section__h2 {
                        font-size: 1.5rem;
                        color: $blanco;
                        font-family: $fuenteDos;
                        font-weight: lighter;
                    }

                    .main__span {
                        font-family: $fuente;
                        font-weight: bold;
                        font-size: 2.5rem;
                    }

                    .main__section__p {
                        text-align: center;
                        height: 300px;
                        width: 750px;
                        font-size: 1.2rem;
                        color: $blanco;
                        font-family: $fuenteDos;
                        font-weight: lighter;
                        margin-top: 30px;
                    }
                }

                @media screen and (max-width: 665px) {
                    .mainIndex__section {
                        width: 100%;
                        height: 650;
                        text-align: center;
                        background-image: linear-gradient(#00000000, #0000002d, #000000a9), url(../asset/images/backgroud-main-section-4.jpg);
                        background-size: cover;
                        margin-top: -50px;

                        .main__section__h1 {
                            width: 90%;
                            height: auto;
                            padding-top: 280px;
                        }

                        .main__section__h2 {
                            width: 90%;
                            height: auto;
                        }

                        .main__section__p {
                            width: 90%;
                            height: auto;
                            font-size: 0.9rem;
                        }

                    }
                }
            }

            section {
                div {
                    div {
                        div {
                            div {
                                .indexSectionParrafo {
                                    width: 80%;
                                    margin-top: 30px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    border: 1px solid black;
                                    border-radius: 25px;
                                    font-size: 1.2rem;
                                    padding: 15px 15px 15px 15px;
                                    color: rgb(0, 0, 0);
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-weight: lighter;
                                }
                            }
                        }
                    }

                    div {
                        .imagenBottomHome {
                            width: 100%;
                            height: 550px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            object-fit: cover;
                            background-image: url(../asset/images/caja3d-2.jpg);
                            background-repeat: no-repeat;



                        }
                    }

                    @media screen and (max-width: 665px) {
                        .imagenBottomHome {
                            width: 100%;
                            height: 250px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            object-fit: contain;
                            background-image: url(../asset/images/caja3d-2.jpg);
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }

        .indexSectionParrafo {
            width: 90%;
        }
    }
}