$escondido: hidden;
$background-gris: linear-gradient(to right top, #ececec, #f8f8f8, #f6f7f6, #f5f5f5, #e2e2e2);
$fuente: sans-serif;
$fuenteDos: Arial;
$blanco: white;
$divisor: 2;

$seleccionFuente : (
    font1 : 'Courier New',
    font2 : 'Franklin Gothic Medium',
    font3 : Arial, 
    font4 : sans-serif,

);

